.checkout-container {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;

    @media screen and (max-width: 800px) {
        width: 80%;
    }

    .checkout-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid darkgrey;

        .checkout-title {
            text-transform: capitalize;
            width: 23%;

            @media screen and (max-width: 800px) {
                font-size: 12px;
            }

            &:last-child {
                width: 8%;
            }
        }
    }

    .checkout-total {
        font-size: 36px;
        margin-left: auto;
    }
}