.categoriesPreview-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @media screen and (max-width: 800px) {
        align-items: center;
    }

    .categoriesPreview-title {
        font-size: 28px;
        margin-bottom: 25px;
        cursor: pointer;
    }

    .categoriesPreview-preview {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;

        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
        }
    }
}